body {
    background-color: white;
}
.logo {
    margin: 0px 0px 0px 148px;
    width:160px;
    height:72px;
    float: left; 
}
#emm {
    margin: 11px 291px 11px 1060px;
    width:89px;
    height:72px;
}
/* .letter {
    align: right;
    color: #9E9E9E;
    float: left;
} */
.link {
    background: #BA1419;
    width:1440px;
    height:72px;
    padding: 17px 100px 17px 148px;
    }
.link a {
    padding: 20px;
    text-decoration: none;
    color: white;
    opacity: 80%;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

/* #leftcolmn {
    width: 332px;
    height:32px;
    padding: 24px 0px 0px 148px;
}
#leftcolmn SPAN {
    width:49px;
    line-height:22px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: semiBold;
}
#middlecolmn {
    width: 776px;
}
#middlecolmn TABLE {
    align: center;
    padding: 154px 879px 713px 332px;
}
#rightcolmn {
    width: 332px;
} */

#table {
    width: 100%;
}
#table TD {
    padding: 24px 0px 0px 148px;
    width:89px;
    height:32px;
}
#table SPAN {
    width:49px;
    line-height:22px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    position: relative; 
    top: -10px; 
    left: 10px;
}
#table P {
    width:776px;
    line-height:33px;
    color: #BA1419;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}
#table1 {
    background: #F5F7F9;
    width:1440px;
    height:72px;
    box-sizing: content-box;
}
#table1 P {
    width:332px;
}
#table1 TD {
    height:56px;
    text-align: left;
    padding: 8px;
}
#table1 SPAN {
    padding: 29px 18px;
    position: relative; 
    top: -20px; 
    left: 0px;
}
.number {
    width: 776px;
    height:56px;
    margin: 32px 332px 8px 332px;
    border: 0.5px solid #B8131A;
    border-radius: 4px;
    position: relative;
    left: 90px;
}
.number h6 {
    color: #B8131A;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    margin: 8px 0px 2px 22px;
}
.number h4 {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 2px 0px 8px 22px;
}
.number img {
    width:24px;
    height:24px;
    /* padding: 0px 19px; */
    position: relative;
    top: -40px; 
    left: 733px;
}
.uncorr H6 {
    margin: -8px 354px 8px 354px;
    color: #B8131A;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-style: italic;
    position: relative;
    left: 110px;
    }
#table3 {
    width:1440px;
    height:56px;
    margin-top: 8px;
    margin-left: 32px;
    box-sizing: content-box;
}
#table3 P {
    width:332px;
}
#table3 TD {
    height:56px;
    /* text-align: left; */
}
#table3 SPAN {
    padding: 18px 632px 16px 22px;
    border-radius: 4px;
    border: 0.5px solid #CECECE;
    color: #747474;
    opacity: 80%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    /* font-weight: bolder; */
}
#table3 img {
    width:24px;
    height:24px;
    padding: 0px 19px;
    position: relative;
    top: 5px; 
    left: 620px;
}
#table4 {
    width:1440px;
    height:56px;
    margin:32px;
    /* box-sizing: content-box; */
}
#table4 P {
    width:332px;
}
#table4 TD {
    height:56px;
    /* text-align: right; */
}
#table4 SPAN {
    padding: 18px 632px 16px 22px;
    border-radius: 4px;
    border: 0.5px solid #CECECE;
    color: #747474;
    opacity: 80%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    /* font-weight: bolder; */
}
#table4 img {
    width:24px;
    height:24px;
    padding: 0px 19px;
    position: relative;
    top: 5px; 
    left: 620px;
}
.sum {
    width: 1000px;
    height: 56px;
    margin: 32px 332px;
    opacity: 80%;
    display: flex;
    justify-content: space-between;
    /* box-sizing: content-box; */
}
.sum nav {
    width: 360px;
    border-radius: 4px;
    border: 0.5px solid #CECECE;
    height: 56px;
    position: relative;
    left: 90px;
}
.sum h6 {
    color: #747474;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    margin: 8px 0px 2px 10px;
    /* box-sizing: content-box; */
}
.sum h4 {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 2px 0px 8px 10px;
}
.sum button {
    width:123px;
    height:40px;
    background: #BA1419;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 9px 24px;
    border-radius: 4px;
}
.sum h5{
    width:177px;
    height:22px;
    color: #747474;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 9px 24px;
}

/* #back {
    margin: 24px 0px 0px 148px;
    width:89px;
    height:32px;
}
#back SPAN {
    width:49px;
    line-height:22px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: semiBold;
    /* line-height: 100%; */
    /* text-align: center;
} */ 